<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div align="center">
    <h1>Create New Employee</h1>
    <br/>
    <div class="col-sm-4">
        <form action="#" th:action="@{/login}" th:object="${user}" method="post">
            <tr>
                <td>Username</td>
                <td>
                    <input type="text" th:field="*{username}" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" th:field="*{password}" class="form-control"/>
                </td>
            </tr>
            <td>
                <button type="submit" class="btn btn-info">Login</button>
            </td>
        </form>
    </div>
</div>
</body>
</html>
